.usernameField{
    display: flex;
    justify-content:space-around;
    margin: 2%;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.submit-btn{
    display: flex;
    justify-content: center;
    margin: 20px;
}